  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <title>{{ page.title | strip_html }}</title>
     <link rel="canonical" href="https://enlight.nyc{{ page.url }}">
     <meta name="description" content="{{ page.description }}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta property="og:title" content="{{ page.title }}">
     <meta property="og:description" content="{{page.description }}">
     <meta property="og:url" content="{{ site.url }}{{page.url}}">
     <meta property="og:image" content="https://enlight.nyc/logo.jpg" />
     <meta name="twitter:card" content="summary" />
     <meta name="twitter:title" content="{{ page.title }}" />
     <meta name="twitter:description" content="{{ page.description }}" />
     <meta name="twitter:image" content="https://enlight.nyc/logo.jpg" />

     <link rel="stylesheet" href="{{ "/assets/css/application.css" | prepend: site.baseurl }}" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     

            <!-- Global site tag (gtag.js) - Google Analytics -->
